body {
	margin: 0;
	padding: 0;
}
.home {
	margin: 0;
	padding: 0;
	background: url("/images/coxbazar.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 900px;
}

Figure {
	margin-left: 80px;
	cursor: pointer;
}
.place {
	color: salmon;
}
.title {
	font-weight: bold;
}
.detail {
	color: white;
	font-weight: 800;
}
.click {
	margin-top: 20px;
	color: yellowgreen;
	font-weight: 1000;
}
